<h1>New division</h1>

<form action="/div/result">
  <label for="tong_long_pai">
    Divide this:
  </label>
  <input id="tong_long_pai" name="first_num" text="text">

  <label for="bak_mei_pai">
    by this:
  </label>
  <input id="bak_mei_pai" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
