<h1>New division</h1>

<form action="/wizard_divide">
  <label for="gecko">
    Divide this:
  </label>
  <input id="gecko" name="first_num" text="text">

  <label for="anole">
    by this:
  </label>
  <input id="anole" name="second_num" text="text">

  <button>
    Divide!
  </button>
</form>
